:root{
    --background : linear-gradient(90deg, #8BC6EC 0%, #5a60cc 100%);
    --second-color : #4d5899;
    --third-color : #4d5899;
    --font-color: rgb(255, 255, 255);
    --task-buttons : #2a3366;
    --shadow-color  : #525252;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: var(--background);
    min-height: 100vh;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-shadow: 2px 2px #000000;
}

button{
    border: none;
    outline: none;
    background: white;
}

.header{
    display: flex;
    align-items: center;
    background-color: var(--second-color);
    padding: 1.2rem 0;
    box-shadow: 0px 1px 20px var(--shadow-color);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(72, 73, 102);
}

.header h1{
    text-align: left;
}

.header i{
    margin: 0 20px 0 50px;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 5px;
}

.change-theme-container{
    margin-left: auto;
    margin-right: 20px;
    transition: 2s;
}

.container{
    display: flex;
}

.main-container{
    flex: 1;
    display: flex;
    margin-top: 4vh;
    
}

.calendarDiv{
  flex: 1;
  margin : 50px 50px 0 50px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 3%;
  max-height: 75vh;
}

.right-container{
    flex: 1; 
    padding: 0 20px;
    margin: 0 50px;
}

.tab-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.tab-change-button{
    width: 160px;
    height: 50px;
    padding: 5px;
    background-color: var(--second-color);
    color: white;
    text-shadow: 1px 1px #000000;
}

.tab-change-button:hover{
    cursor: pointer;
    background-color: var(--task-buttons);
}

.tab-change-button.active{
    background-color: var(--task-buttons);
    border : 1px solid white;
}

.todo-container{
    margin-top: 20px;
}


.current-date{
    margin: 0;
    margin: 20px 0;
    font-size: 1.5rem;
    
}

@keyframes popAnimation{
   from {transform: scale(0.8)}
   to {transform: scale(1)}
}

.date-animation{
    animation-name: popAnimation;
    animation-duration: 0.2s;
}

.todo-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 0 20px;
}

.add-button, .show-prebuilt-button{
    padding: 10px;
    font-size: 20px;
    background-color: var(--second-color);
    cursor: pointer;
    color: white;
}

.add-button:hover, .show-prebuilt-button:hover{
    background-color: rgb(102, 166, 226);
}

.show-prebuilt-button i{
    transition: 0.2s;
}
 
.rotate-animation{
     transform: rotate(180deg);
 }

.prebuilt-container{
    background-color: var(--second-color);
    margin: auto;
    width: 60%;
    height: 0;
    transition: 0.3s;
    /* border-radius: 0 0 2% 2%; */
    overflow: visible;
}

.prebuilt-container ul{
    list-style: none;
    color: white;
    display: none;
    overflow: scroll;
    overflow-x: hidden;
}

.prebuilt-container ul::-webkit-scrollbar {
    width: 6px;
}

.prebuilt-container ul::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.prebuilt-container ul::-webkit-scrollbar-thumb{
    background: var(--background);
}

.prebuilt-container ul::-webkit-scrollbar-thumb:hover{
    background: #415979; 
}

.prebuilt-container li{
    display: flex;
    align-items: center;
    padding: 9px;
}

.prebuilt-container li span{
    flex: 1;
    font-size: 0.9rem;
}

.prebuilt-container button{
    padding: 5px;
    background: none;
    color: white;
}

#tasks-list-header{
    text-shadow: 1px 1px #000000;
    background-color: var(--task-buttons);
    font-size: 1.2rem;
    justify-content: center;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.pre-built-form{
    display: flex;
    width: 100%;
    justify-content: center;
}

.pre-built-form input{
    flex: 1; 
    outline: none;
}

.pre-built-form button{
    background-color: var(--task-buttons);
}

.pre-built-form button:hover{
    background-color: var(--second-color);
    cursor: pointer;
}

.showContainer{
    height: 240px;
}

.showContainer ul{
    height: 100%;
    display: flex;
    flex: 0;
    flex-direction: column;
}

.form-input{
    border: none;
    padding: 10px;
    font-size: 20px;
    min-width: 25vw;
    
}

.list-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 35vw;
    list-style: none;
    margin-top: 25px;
}

.todo-div{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin: 7px;
    padding: 5px;
}

.todo-item{ 
    padding: 0.5rem;
    flex: 1;
    transition: 0.5s;
}

.complete-button, .delete-button{
    border: none;
    padding: 0.5rem;
    width: 40px;
    margin: 0 2px;
    font-size: 15px;
    color: white;
    background-color: var(--task-buttons);
    cursor: pointer;
    
}

.complete-button:hover, .delete-button:hover{
    background-color: #8BC6EC;
}

.completed{
    text-decoration: line-through;
    background-color: rgb(225, 255, 225);
    opacity: 0.7;
}

.statistics{
    margin: 50px auto;
    display: none;
    position: relative;
    width: 90%;
    min-width: 500px;
}

.current-selected-dates{
    font-size: 1.5rem;
    margin: 20px 0;
    margin-bottom: 50px;
}

.fa-times, .fa-check, .fa-plus{
    pointer-events: none;
}

@media(max-width : 1100px){
    .main-container{
        flex-direction: column;
    }

    .right-container{
        margin: 100px 0 150px 0;
    }
}
    

